<div id="github-widget">
    <img id="github-avatar" [src]="user?.avatar_url"/>
    <div id="github-info">
        <app-github-name [profile_url]="user?.html_url" [name]="user?.name" [login]="user?.login"></app-github-name>
        <div id="github-bio">
            <p>{{ user?.bio }}</p>
        </div>
        <div id="github-stats">
            <app-github-stat [link]="get_tab('repositories')" [stat]="user?.public_repos" label="Repositórios"></app-github-stat>
            <app-github-stat [link]="get_tab('following')" [stat]="user?.following" label="Seguindo"></app-github-stat>
            <app-github-stat [link]="get_tab('followers')" [stat]="user?.followers" label="Seguidores"></app-github-stat>
        </div>
    </div>
</div>
<img id="github-contributions" [src]="get_contributions_address()" />
