#github-widget {
    background-color: transparent;
    flex-shrink: 1;
    align-content: space-between;
    max-height: 312px;
    max-width: 1012px;
    display: flex;
}

#github-avatar {
    max-width: 280px;
    max-height: 280px;
    border-radius: 32px;
}

#github-info {
    margin-left: 32px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #e1e4e8;
    flex: 1;
}

#github-bio {
    text-align: center;
    margin: 32px 16px;
    font-size: 18px;
}

#github-stats {
    margin: 16px;
    display: flex;
    align-content: center;
}

#github-contributions {
    margin-top: 16px;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

app-github-stat{
    margin: auto;
}

@media (max-width: 1080px) {
    #github-widget {
        flex-wrap: wrap;
        align-content: center;
        max-height: none;
    }

    #github-info {
        margin: 0;
        margin-left: 12px;
        margin-top: 16px;
        display: block;
    }

    #github-avatar {
        margin: auto;
    }   
}

@media (max-width: 588px) {
    #github-info {
        margin-left: 0px;
    }
}

@media (max-width: 320px) {
    #github-contributions {
        display: none;
    } 
}
