.github-repo-info {
    border-radius: 6px;
    background-color: white;
    border: 1px solid #e1e4e8;
    flex: 1;
    height: 280px;
    width: 520px;
    border-bottom: 6px solid;
}

.repo-name {
    font-size: 22px;
    margin: 32px;
}

.repo-description {
    color: rgb(71, 71, 71);
    margin: 0 32px;
    height: 64px;
}

.repo-lang {
    margin: 0 32px;
}

.lang-icon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.stats {
    display: flex;
    margin-top: 32px;
}

.stat {
    margin: auto;
}

#github-icon {
    float: right;
}

a {
    text-decoration: none;
    color: inherit;
}



@media (max-width: 520px) {
    .github-repo-info {
        width: 100vw;
    }
}