#github-stat {
    display: flex;
}

#stat-number {
    font-size: 26px;
    text-align: center;
    color: #24292e;
    margin: 0px;
    margin-bottom: 2px;
}

#stat-label {
    font-size: 16px;
    text-align: center;
    color: #24292e;
    margin: 0px;
    margin-top: 2px;
}