<section class="nav-links" id="nav-links" >
    <div class="row text-light">
        <div class="col nav-link d-flex justify-content-center align-items-center h-100" (click)="scrollToSection('projects-section')"><span role="link">Projects</span></div>
        <div class="col nav-link d-flex justify-content-center align-items-center h-100" (click)="scrollToSection('education-section')"><span role="link">Education</span></div>
        <div class="col nav-link d-flex justify-content-center align-items-center h-100" (click)="scrollToSection('experiences-section')"><span role="link">Experience</span></div>
    </div>
</section>