.projects-section{
    padding-top: 32px;
    background-color: white;
}

.projects-background {
    background-color: var(--light-background-color);
    padding: 32px;
}

@media (max-width: 1160px) {
    .projects-background {
        padding-left: 0;
        padding-right: 0;
    }
}