.section { 
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 2px #000;
    z-index: -1;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-2px)  translateX(-7px) translateY(-168px) scale(2);
    background-size: 100%;
    z-index: -2;
}

.background::after {
    background-size: cover;
    background-position-x: center;
    background-image: url('../../../../assets/images/pilatus.jpg');
}

p {
    font-family: jost-italic;
    font-size: 32px;
    text-align: center;
    margin-bottom: 4px;
}

h1 {
    margin-top: 4px;
    font-size: 64px;
    text-align: center;
    font-family: archivo-black;
}

h1::before {
    content: " ";
    position: absolute;
    top: 53%;
    height: 2px;
    width: 80px;
    margin: 0 -100px;
    display: inline-block;
    zoom: 1;
    background-color: white;
}

h1::after {
    content: " ";
    position: absolute;
    top: 53%;
    height: 2px;
    width: 80px;
    margin: 0 20px;
    display: inline-block;
    zoom: 1;
    background-color: white;
}

@media (max-width: 1080px) {

    .section { 
        height: 400px;
    }

    .parallax::after {
        transform: translateZ(-2px) translateY(-240px) scale(2);
    }

    p {
        font-size: 28px;
        padding-right: 16px;
        padding-left: 16px;
    }
    
    h1 {
        font-size: 64px;
        padding-right: 16px;
        padding-left: 16px;
    }
    

    h1::before {
        display: none;
    }

    h1::after {
        display: none;
    }
    
}
