<div class="experience-item-container" *ngIf="experience">
    <div class="preiod">
        <p>
            {{ experience.period }}
        </p>
        <div class="dot"></div>
    </div>
    <div class="details">
        <div class="header-texts">
            <p class="role">
                {{ experience.title }}
            </p>
            <p class="company">
                {{ experience.company }}
            </p>
        </div>
        <p class="description">
            {{ experience.description }}
        </p>
    </div>
</div>