.education-item-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.preiod {
    width: calc(45% - 1px);
    margin: 0;
    border-left: 1px solid var(--light-font-color);
    color: var(--light-font-color);
    padding-left: 16px;
    padding-top: 32px;
    font-size: 22px;
}

.dot {
    content: " ";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--light-background-color);
    background-color: var(--light-font-color);
    position: absolute;
    top: 43px;
    right: -7px;
    display: inline-block;
}

.details {
    text-align: right;
    width: calc(55% - 1px);
    margin: 0;
    border-right: 1px solid var(--light-font-color);
    color: var(--light-font-color);
    padding-right: 16px;
    padding-top: 32px;
    font-size: 22px;
    position: relative;
}

.header-texts {
    display: inline-block;
}

.role {
    margin-bottom: 0px;
    border-bottom: 2px solid var(--light-font-color);
    width: 100%;
}

.institution {
    margin-top: 0px;
    width: 100%;
}

.description {
    float: right;
    font-size: 16px;
    max-width: 600px;
}

@media (max-width: 500px) {
    .preiod {
        width: calc(40% - 1px);
    }

    .details {
        width: calc(60% - 1px);
    }
}