.experiences-section {
    padding-top: 32px;
    background-color: var(--dark-background-color);
    min-height: 80vh;
}

.experiences-container {
    width: 100%;
    padding: 64px;
    padding-top: 32px;
}

@media (max-width: 500px) {
    .experiences-container {
        padding: 16px;
    }
}