.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

#title {
    text-align: center;
}

#medias {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}