.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

#title {
    text-align: center;
}

#medias {
    margin-top: 192px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

app-github-widget {
    margin-top: -160px;
}