app-thumbnail, app-mobile-thumbnail {
    position: absolute;
}

app-thumbnail{
    top: 500%;
    left: 48px;
}

.carousel-container {
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.bullets-container {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    margin-top: 532px;
}

.bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--projects-font-color);
    margin: 16px 4px;
}

.bullet:hover, .active {
    background-color: var(--projects-font-hover-color);
}

.navigation-button {
    color: var(--projects-font-color);
    margin: 0 8px;
    width: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.navigation-button:hover {
    color: var(--projects-font-hover-color);
}

.bullet, .navigation-button{
    cursor: pointer;
}