.education-section {
    margin-top: 32px;
    background-color: var(--light-background-color);
    min-height: 80vh;
}

.education-container {
    width: 100%;
    padding: 64px;
    padding-top: 32px;
}

@media (max-width: 500px) {
    .education-container {
        padding: 16px;
    }
}