:root {
    /* Pastel blue  */
    --pastel-blue-background-color: rgb(139, 164, 175);
    --pastel-blue-font-color: rgb(255, 255, 255);
    --pastel-blue-font-hover-color: rgb(120, 120, 120);

    /* Black */
    --dark-background-color: rgb(50, 50, 50);
    --dark-font-color: rgb(200, 200, 200);
    --dark-font-hover-color: rgb(80, 80, 80);

    /* White */
    --light-background-color: rgb(255, 255, 255);
    --light-font-color: rgb(130, 130, 130);
    --light-font-hover-color: rgb(80, 80, 80);
}

@font-face {
    font-family: bebas-neue;
    src: url("assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: caveat;
    src: url("assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: jost-italic;
    src: url("assets/fonts/Jost/Jost-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: archivo-black;
    src: url("assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}